<h1> All the Artists</h1>

<% @artists.each do |artist| %>
  <%= link_to artist.name, artist_path(artist) %><br>
<% end %>

<a href="https://google.com" target="_blank"><button class="primary">this is a button</button></a>
<a href="" target="_blank"><button class="secondary">this is also a button</button></a>

<div class="box" id="example">this is a div</div>