<h1> All the Artists</h1>

<% @artists.each do |artist| %>
  <%= link_to artist.name, artist_path(artist) %><br>
<% end %>

<a href="https://google.com" target="_blank"><button>Go to Google</button></a>